@font-face {
  font-family: Lexend;
  src: url('/fonts/Lexend-Light.ttf');
}

--root {
  font-family: Lexend, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body,
h1,
h2,
h3 {
  font-family: Lexend, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media print {
  body {
    font-size: 14pt;
    line-height: 1.6;
    margin: 0 auto;
    max-width: unset;
    padding: 0;
    text-rendering: optimizelegibility;
  }

  .print-only {
    display: unset;
  }

  .no-print {
    display: none;
  }

  @page {
    size: a4;
    margin: 2cm;
  }
}
